.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.loginBox {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
}


.registerLink {
  margin-top: 1rem;
}

.registerLink a {
  color: #007bff;
  text-decoration: none;
}

.registerLink a:hover {
  text-decoration: underline;
}
