.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.modalContent {
  position: relative;
  display: flex;
  width: 700px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.leftSection, .rightSection {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftSection {
  flex: 1;
  background-color: white;
}

.rightSection {
  flex: 1;
  background-color: #0000FF;
  color: white;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginButton {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registerButton {
  padding: 10px 20px;
  background-color: #5A67D8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
