.navContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.rightNavSection {
	display: flex;
	align-items: center;
}

.leftNavSection {
	display: flex;
	align-items: center;
}

.navbar {
	background-color: #333;
	padding: 10px 20px;
}

.navList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navItem {
	display: inline-block;
	margin-right: 20px;
}

.navLink {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.navLink:hover {
	color: #ff0; /* Change color on hover */
}
